/* Image sprite */
.twitter {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -325px -15px;
     object-position: -325px -15px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
}

.google {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -385px -15px;
     object-position: -385px -15px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
}

.dribbble {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -437px -15px;
     object-position: -437px -15px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
}

.cup {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 0px -84px;
     object-position: 0px -84px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 5px;
}

/* Extra small devices (phones, 600px and down) */
:root {
  --grey: 53, 63, 70;
}

* {
  color: white;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.container {
  height: 100%;
  margin: 0 auto;
  width: 85%;
}

.cc-grey {
  background-color: rgba(var(--grey), 0.85);
}

.cc-blue {
  background-color: #4bcaff;
}

.darkgrey {
  background-color: #353F47;
}

.letter {
  color: #4bcaff;
}

.contact-bg, .jd-bg {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:link {
  color: #FFF;
}

a:hover {
  color: #4bcaff;
}

ul {
  list-style: none;
}

.services, #portfolio, #default, #twitter,
#john-doe, #testimonials, #contact {
  padding: 50px 0px;
}

#name, #mail, textarea {
  background-color: transparent;
  border: 2px solid #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

/* Form */
form {
  text-transform: uppercase;
}

.form-1 {
  width: 50%;
  display: inline-block;
}

@media only screen and (max-width: 42.5em) {
  .form-1 {
    width: 100%;
  }
}

.form-1 input {
  margin: 6px 0px;
}

#name, #mail {
  height: 60px;
}

#nameErr, #emailErr, #msgErr {
  margin-left: 10px;
  color: red;
}

textarea {
  margin-top: 6px;
  height: 300px;
}

.text {
  display: inline-block;
  margin: 0px 0px 0px 50px;
  width: 40%;
}

@media only screen and (max-width: 48em) {
  .text {
    display: none;
  }
}

.text p {
  margin-bottom: 10px;
  line-height: 24px;
}

.button-1, #btn {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  width: 15rem;
  height: 50px;
}

@media only screen and (max-width: 65.625em) {
  .button-1, #btn {
    margin: inherit auto;
    display: inline-block;
  }
}

/* Main feature */
header {
  background-image: url(../../images/wheat.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 90vh;
}

.navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 48em) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#top {
  background-color: rgba(var(--grey), 0.85);
  height: 17vh;
}

#top a {
  padding: 0px 0px 0px 30px;
}

@media only screen and (max-width: 42.5em) {
  #top a {
    padding-left: 10px;
    height: 0rem;
    font-size: 10px;
  }
}

h1 {
  font-size: 3.125rem;
  font-weight: lighter;
  text-align: center;
}

h1 span {
  padding: 0 5px;
}

@media only screen and (max-width: 65.625em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 48em) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 42.5em) {
  h1 {
    font-size: 1.6rem;
  }
}

#logo {
  opacity: 0;
  font-size: 30px;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (max-width: 48em) {
  #logo {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 42.5em) {
  #logo {
    margin-top: 1.2rem;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  bottom: 100px;
  position: relative;
  -webkit-animation-name: motion;
          animation-name: motion;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (max-width: 48em) {
  nav {
    margin-top: 12px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 42.5em) {
  nav {
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }
}

@-webkit-keyframes motion {
  0% {
    bottom: 200px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes motion {
  0% {
    bottom: 200px;
  }
  100% {
    bottom: 0px;
  }
}

/* Default section */
#default p {
  line-height: 22px;
  margin-right: 75px;
  font-size: 14px;
}

@media only screen and (max-width: 75em) {
  #default p {
    margin-right: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 65.625em) {
  #default p {
    width: 80%;
    margin: 0 auto;
  }
}

#default .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 65.625em) {
  #default .flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#default .flexbox .box-1 h2 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 75em) {
  #default .flexbox .box-1 h2 {
    text-align: center;
  }
}

#default .flexbox .box-1 .btn-wrapper {
  text-align: center;
}

@media only screen and (max-width: 65.625em) {
  #default .flexbox .box-2 {
    margin: 2rem auto 0 auto;
  }
}

@media only screen and (max-width: 42.5em) {
  #default .flexbox .box-2 {
    display: none;
  }
}

.services {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media only screen and (max-width: 48em) {
  .services {
    height: auto;
    row-gap: 3rem;
    width: 85%;
    margin: 0 auto;
  }
}

.services h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.services h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.services p {
  font-size: 13px;
  line-height: 18px;
}

.services img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.service {
  width: 23%;
}

@media only screen and (max-width: 48em) {
  .service {
    width: 46%;
  }
}

@media only screen and (max-width: 42.5em) {
  .service {
    width: 100%;
  }
}

.service img {
  margin-bottom: 15px;
}

#portfolio .portfolio-list {
  width: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  #portfolio .portfolio-list {
    width: 26rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 42.5em) {
  #portfolio .portfolio-list {
    font-size: 12px;
    width: 20rem;
    margin: 0 auto;
  }
}

#portfolio h2 {
  color: rgba(var(--grey), 0.85);
  margin-bottom: 0px;
  text-align: center;
}

@media only screen and (max-width: 48em) {
  #portfolio h2 {
    margin-bottom: 2rem;
  }
}

#portfolio a {
  color: rgba(var(--grey), 0.85);
}

@media only screen and (max-width: 48em) {
  #portfolio a {
    padding-left: 0;
  }
}

.gallery {
  margin: 30px 0px;
  text-align: center;
}

@media only screen and (max-width: 70.0625em) {
  .gallery {
    margin: inherit 0px;
    width: 100%;
  }
}

.gallery img {
  width: 22%;
  height: auto;
  padding: 10px;
}

@media only screen and (max-width: 42.5em) {
  .gallery img {
    width: 49%;
    padding: 0;
  }
}

.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  .portfolio__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* John Doe */
#john-doe .jd-bg {
  height: 50vh;
}

@media only screen and (max-width: 48em) {
  #john-doe .jd-bg {
    height: 28rem;
  }
}

@media only screen and (max-width: 34.375em) {
  #john-doe .jd-bg {
    height: 32rem;
  }
}

#john-doe p {
  line-height: 20px;
  margin-bottom: 10px;
}

#john-doe .box-1 {
  margin-right: 20px;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 42.5em) {
  footer {
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-list {
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 42.5em) {
  footer .footer-list {
    margin-top: 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 42.5em) {
  footer .copyright {
    margin-bottom: 2rem;
  }
}

/* Testimonials section */
#testimonials h2 {
  color: rgba(var(--grey), 0.85);
}

#testimonials p {
  color: rgba(var(--grey), 0.85);
}
/*# sourceMappingURL=main.css.map */