/* Image sprite */
.twitter {
  object-fit: none;
  object-position: -325px -15px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
}

.google {
  object-fit: none;
  object-position: -385px -15px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
}

.dribbble {
  object-fit: none;
  object-position: -437px -15px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
}

.cup {
  object-fit: none;
  object-position: 0px -84px;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 5px;
}