/* Footer */
footer {
  display: flex;
  height: 8rem; // 150px
  justify-content: space-between;
  align-items: center;

  @include respond(phone-sm) {
    font-size: 12px;
    flex-direction: column;
  }

  .footer-list {
    width: 22rem;
    display: flex;
    justify-content: space-between;

    @include respond(phone-sm) {
      margin-top: 2rem;
      width: 100%;
    }
  }

  .copyright {

    @include respond(phone-sm) {
      margin-bottom: 2rem;
    }
  }
}
  
  
